<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>AAIT ITSC NoticeBoard - Edit Announcements</title>
    <style>

      .bg-company-blue{
        background-color:rgb(54, 124, 188);
        border-top: 3px solid white;
        border-bottom: 3px solid white;
      }

      .navbar-default .navbar-nav .nav-item .nav-link:hover,
      .navbar-default .navbar-nav .nav-item .nav-link:focus{
        border-bottom: 5px solid rgb(118, 183, 247);
        color : white;
      }
      #editBtn{
        border-color: rgb(54, 124, 188);
        color:rgb(54, 124, 188);
        margin-right: 50px;
      }
      #editBtn:hover{
        color:white;
        background-color: rgb(54, 124, 188);
      }

      .buttons{
        float:right;
        padding-left:28px;
        padding-right:28px;
      }
      #link{
      	float:right;
      	margin-top:2%;
      	border: 1px solid rgb(54, 124, 188);
      	color: rgb(54, 124, 188);

      }
      #link:hover, #link:focus{
      	color : white;
      	background-color : rgb(54, 124, 188);
      	text-decoration : none;
      }
      table{
      	counter-reset:section;
      }
      .count:before{
      	counter-increment:section;
      	content: counter(section);
      }

    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-company-blue navbar-default fixed-top" style="padding-bottom:0%;">
    <a class="navbar-brand" th:href="@{/}">AAIT ITSC Community</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
      	<li class="nav-item">
          	<a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/displayTeacherInfo}">Teacher's Info</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" th:href="@{/announcement}">Academic Calender<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Announcement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Scholarships</a>
        </li>
        
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/logout}">Log Out</a>
        </li>
      </ul>

    </div>
  </nav>

<br><br>
  <!-- Table -->
  <div class="container">
      <img th:src="@{/images/wallnew2.png}" alt="AAiT" class="mx-auto d-block img-fluid">
      <table class="table">
	      <thead class="thead-light">
	      <tr>
	      <th scope="col">No.</th>
	      <th scope="col">Teacher's Name</th>
	      <th scope="col">Email</th>
	      <th scope="col">Course</th>
	      <th scope="col">Office</th>
	      <th scope="col">Consultation Hours</th>
	      </tr>
	      </thead>
	      <tbody>
	      <tr th:each="teacher : ${teachers}">

	      <th scope="row" class="count" ></th>
	      <td th:text="${teacher.firstName}+' '+${teacher.lastName}">No name to display</td>
	      <td th:text="${teacher.email}">No emails to display</td>
	      <td th:text="${teacher.course}">No course to display</td>
	      <td th:text="${teacher.office}">No office to display</td>
	      <td th:text="${teacher.consultationDays}">No consulation days to display</td>

	      </tr>
	      </tbody>
      </table>
  </div>

  <footer class="font-small bg-company-blue fixed-bottom">
    <div class="footer-copyright text-center py-2" style="color:white">
      &copy; 2018 copyright:
      <a href="#" style="color:white"> AAIT ITSC </a>
    </div>
  </footer>
  </body>
  <script th:src="@{jquery/slim.min.js}"></script>
  <script th:src="@{js/bootstrap.min.js}"></script>
</html>
